<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codezen.leaves.s002.SiteService" >
    
    <sql id="Base_Column_List" >
         SITE_KEY
        ,SITE_URL
        ,KOREAN_NM
        ,ENG_NM
        ,SYN_NM
        ,CATEGORY
        ,COUNTRY
        ,LANGUAGE
        ,SHOP_CATEGORY
        ,SHOP_TYPE
        ,SITE_DESC
        ,SITE_IMAGE
        ,SELL_BRAND
        ,USE_SITE
        ,FAVORITE
        ,DIRECT_DELIVERY
        ,EDIT_YN
        ,USE_YN
        ,PUBLISH_YN
        ,EDIT_DT
        ,RELATION_KEYWORD
        ,LANDING_URL
        ,OLD_SITEKEY
        ,STYLE
        ,SPEND_LVL
        ,SEX
        ,AGE
        ,PRICE_LVL
        ,KEYWORD_TAG
        ,KEYWORD_TAG_CATEGORY
        ,SITE_TYPE
        ,USE_WON_CURRENCY
        ,RELEVANT_KEYWORD
        ,FREE_DELIVERY
        ,FREE_DELIVERY_DESCRIPTION
        ,CDBT_NM
        ,SUB_SEQ
        ,UPT_USER_CD
        ,REFN_YN
        ,EAI_FLAG
        ,SITE_FROM
        ,INS_DT
        ,INS_USER_CD
        ,UPT_DT
        ,UPT_USER
    </sql>

    <select id="getAll" parameterType="HashMap" resultType="HashMap" >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM tb_site_master
       LIMIT 200
    </select>

    <select id="getOne" parameterType="HashMap" resultType="HashMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM tb_site_master
	   WHERE site_key = #{id}
    </select>

</mapper>